# Summer Olympics 1896-2012

<img src="https://raw.githubusercontent.com/nkraja33/EDA/master/summer_olympics_logo.jpg" width="580" height="720" align='center'><br/>

## Table of Contents

1. [Problem Statement](#1)<br>
2. [Import Packages](#2)<br>
3. [Load Data Set](#3)<br>
4. [Overview of Data using pandas profiling](#4)<br>
5. [Data Wrangling](#5)<br>
  - 5.1 [Shape of the Data set](#5.1)<br>
  - 5.2 [Data Types](#5.2)<br>
  - 5.3 [Finding Null Values](#5.3)<br>
  - 5.4 [Finding duplicate values and fix them](#5.4)<br>
  - 5.5 [Shape of the data after fixing the errors](#5.5)<br>
5. [Exploratory Data Analysis (EDA)](#6)<br>
  - 6.1  [Overall Percentage of Medals](#6.1)<br>
  - 6.2  [Number of Sports per Year](#6.2)<br>
  - 6.3  [Cities Hosted Game More than Once](#6.3)<br>
  - 6.4  [Top 10 Medal count by countries](#6.4)<br>
  - 6.5  [Top 5 Countries by each Medals](#6.5)<br>
  - 6.6  [Medal Counts by Gender](#6.6)<br>
  - 6.7  [Top 5 Medal winners by Gender](#6.7)<br>
  - 6.8  [Top 5 Disciplines by Gender](#6.8)<br>
7. [Conclusion](#7)<br>

<a id=1></a>
## 1. Problem Statement

The __Summer Olympic Games__  or the Games of the Olympiad, first held in 1896, is a major international multi-sport event held once every four years.

We will find out __which country won more medals__, which __sport has more medals__, who were __most awarded Athletes__ in this details analysis.

This Data set has data of summer olympics held between 1896 to 2012. It has the details of year, hosted city, sport and it's discipline, Athelete, Country, Gender, Event and Medal.

From these data we will try to find the below details:

- Overall Contribution of medals throught out the games
- Sport Counts by Year
- Which are all the cities that were hosted Olympic Games more than once.
- Medal counts by countries and plot the top 10 countries.
- Countries list by each medal counts and plot top 5 of them
- Medal counts by Gender
- List of Atheltes who has more medals and plot Top 5
- List of Sport Disciplines which won more medals by Gender and plot Top 5

<a id=2></a>
## 2. Import  Packages

 Below cell has all the required packages and it is imported.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas_profiling
%matplotlib inline
sns.set(style='whitegrid')

# <a id=3></a>
## 3. Load Data Set

  Here we use Summer Olympic Data set for our EDA.
  
  Now Data has been loaded using pandas function and the first 5 rows were displayed

In [2]:
data=pd.read_csv("summer_olympics.csv")
data.tail()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

<a id=4></a>
## 4. Overview of Data using pandas profiling

Using pandas profiling function we can get a good overview about the data like missing fields, type of data/coulmuns, correlations..etc.. Output will be saved as html file and we can view it in a browser.

In [ ]:
profile=data.profile_report(title='Pandas Profiling Report')
profile.to_file(output_file="pre_output.html")

__Below are the short overview of the data, which is generated using pandas profiling.___




| Dataset info                     | Variables types                                                                                |
| -------------------------------|:------------------------------------------------------------------------------------------:| 
| Number of variables	9                        | Numeric	1                                                                    | 
| Number of observations	31165                           | Categorical	8                                                                           | 
| Missing cells	4 (< 0.1%)                     | Boolean	0                                                          | 
| Duplicate rows	2 (< 0.1%)                 | Date	0                                                              |
| Total size in memory	2.1 MiB                | URL	0                                                              |
| Average record size in memory	72.0 B         | Text (Unique)	0                                                      |
|                                              | Rejected	0                                                          |
|                                              | Unsupported	0                                                      |



Above is the just the top two fields of the data, there are many foelds which will seen from generated file.

In this data set we have only one Numeric column  and 8 categortical column.

<a id=5></a>
## 5. Data Wrangling

   In this section we will understand the structure and nature of the data and fix if there is any errors before we go for EDA

<a id=5.1></a>
### 5.1 Shape of the Data set

   Below is the __Rows X  Columns__ counts of the given data set

In [ ]:
data.shape

<a id=5.2></a>
### 5.2 Data Types

From the below function we will know about the type of data in each column and it's data count. In additon this command will also provides the number of rows and columns of the data and it's memory usage

In [ ]:
data.info()

<a id=5.3></a>
### 5.3 Finding Null Values

This data set has null values in 4 rows on Country Column, As we cannot do any maipulation in country field we are not going to modify the data and we will proceed as it is.

In [ ]:
data[data.Country.isnull()]

<a id=5.4></a>
### 5.4 Finding duplicate values and fix them

#### In the data we can see there 2 duplciate rows.

In [ ]:
data[data.duplicated()]

#### Let's remove the duplicate rows by keeping the first instance.

In [ ]:
data.drop_duplicates(inplace=True)

<a id=5.5></a>
### 5.5 Shape of the data after fixing the errors

Now we can 2 duplcate rows were removed.

In [ ]:
data.shape

Till Here we have fixed the known errros and we are ready to do the EDA on the data, so let's plot them in using easy plots to better understand and get some insights from the data

<a id=6></a>
## 6. Exploratory Data Analysis (EDA)

 <br><br>Here in this section we will describe the data using available plots using matplotlib and seaborn libraries. <br><br>

<a id=6.1></a>
### 6.1 Overall Percentage of Medals

Let's see total count of each medals and plot the percentage in a pie chart.

In [ ]:
data.Medal.value_counts()

In [ ]:
medal_count = data['Medal'].value_counts()
percent = medal_count.apply(lambda x: (x/data.shape[0])*100)
plt.figure(figsize=(8,8));
plt.pie(percent, labels=percent.index, autopct='%1.2f%%', shadow=True)
plt.title("Overall Percentage of Medals", size='20');
plt.ylabel("");

<a id=6.2></a>
### 6.2 Number of Sports per Year

Below Bar chart provides the total count of sports which were played in each year.

In [ ]:
sport_year =data['Year'].value_counts()
sport_year.sort_index(inplace=True)
height = sport_year.index
plt.figure(figsize=(10,10));
sport_year.plot.bar();
plt.title("Number of Sports per Year",size='20');
plt.xlabel("Year", size='15');
plt.ylabel("Number of Sport Events", size='15')

In [ ]:
sport_year

<a id=6.3></a>
### 6.3 Cities Hosted Game More than Once

Here we will see how many cities were hosted the olympic game more than once.

In [ ]:
city=data[['Year','City']].drop_duplicates()
city=city[city['City'].duplicated(keep=False)]
city_year=city.groupby(['City','Year']).count()
city_year

In [ ]:
city_count = city.City.value_counts().to_frame().reset_index()
city_count.columns = ['City','Count']
city_count

In [ ]:
sns.barplot(x='City',y='Count',data=city_count);
plt.title("Cities Hosted Game More than Once");

<a id=6.4></a>
### 6.4 Top 10 Medal count by countries

In [ ]:
country_count = data.groupby('Country').count()
top_10_country= country_count['Medal'].nlargest(10)
index=['USA','Soviet Union','Great Britain','France','Germany',
          'Italy','Australia','Hungary','Swedan','Netherland']
pos = np.arange(len(top_10_country))
plt.figure(figsize=(8,8))
bars = plt.barh(pos,top_10_country,align='center', color=('g','b','y'))
plt.yticks(pos,index,size='10');
plt.xlabel("Medal Count", size='15')
plt.ylabel("Country",size='15')
plt.title("Top 10 Medal count by countries", size='20')
for i, v in enumerate(top_10_country):
    plt.text(v + 3, i + .50, str(v))
top_10_country

<a id=6.5></a>
### 6.5 Top 5 Countries by each Medals

In [ ]:
medal_gold = data[data['Medal']=='Gold']
medal_silver=data[data['Medal']=='Silver']
medal_bronze=data[data['Medal']=='Bronze']
top_gold = medal_gold.groupby('Country')['Medal'].count().nlargest(5).reset_index()
top_silver=medal_silver.groupby('Country')['Medal'].count().nlargest(5).reset_index()
top_bronze=medal_bronze.groupby('Country')['Medal'].count().nlargest(5).reset_index()

#### Top 5 Gold Winning Countries

In [ ]:
def absolute_value(val):
    a  = np.round(val/100.*top_gold['Medal'].sum(), 0)
    return int(a)
label = ['USA', 'Soviet Union','Great Britain','Italy','Germany']
ax = plt.subplots(figsize=(5, 5), subplot_kw=dict(aspect="equal"))
plt.pie(top_gold.Medal, wedgeprops=dict(width=0.5), autopct=absolute_value, 
        startangle=-40, labels=label);
plt.title("Top 5 Countries with Gold",size='15');

#### Top 5 Silver Winning Countries

In [ ]:
def absolute_value(val):
    a  = np.round(val/100.*top_silver['Medal'].sum(), 0)
    return int(a)
label = ['USA', 'Soviet Union','Great Britain','France','Italy']
ax = plt.subplots(figsize=(5, 5), subplot_kw=dict(aspect="equal"))
plt.pie(top_silver.Medal, wedgeprops=dict(width=0.5), autopct=absolute_value, 
        startangle=-40, labels=label);
plt.title("Top 5 Countries with Silver", size='15');

#### Top 5 Bronze Winning Countries

In [ ]:
def absolute_value(val):
    a  = np.round(val/100.*top_bronze['Medal'].sum(), 0)
    return int(a)
label = ['USA', 'Soviet Union','Great Britain','France','Germany']
ax = plt.subplots(figsize=(5, 5), subplot_kw=dict(aspect="equal"))
plt.pie(top_bronze.Medal, wedgeprops=dict(width=0.5), autopct=absolute_value, 
        startangle=-40, labels=label);
plt.title("Top 5 Countries with Bronze", size='15');

<a id=6.6></a>
### 6.6 Medal Counts by Gender

In [ ]:
men=data[data['Gender']=='Men']
medal_men=men.groupby('Medal')['Medal'].count()
medal_men

In [ ]:
women=data[data['Gender']=='Women']
medal_women=women.groupby('Medal')['Medal'].count()
medal_women

Above we have sepeated the data by gender and got the medal counts for each gender, now let's combine these data to plot it.

In [ ]:
medal_gender = pd.concat([medal_men,medal_women],axis=1)
medal_gender.columns=['Men','Women']
medal_gender

In [ ]:
medal_gender.plot(kind='bar', figsize=(8,8));
plt.xlabel('Medal',size='15');
plt.ylabel('Count',size='15')
plt.title('Gender count by Medals',size='25');

In [ ]:
medal_gender = medal_gender.T
medal_gender

In [ ]:
medal_gender.plot(kind='barh', figsize=(8,8));
plt.xlabel('Medal',size='15');
plt.ylabel('Count',size='15')
plt.title('Medals count by Gender',size='25');

<a id=6.7></a>
### 6.7 Top 5 Medal winners by Gender

In [ ]:
medal_gold_men = medal_gold[medal_gold['Gender']=='Men'].reset_index()
medal_gold_women = medal_gold[medal_gold['Gender']=='Women'].reset_index()
medal_silver_men = medal_silver[medal_silver['Gender']=='Men'].reset_index()
medal_silver_women = medal_silver[medal_silver['Gender']=='Women'].reset_index()
medal_bronze_men = medal_bronze[medal_bronze['Gender']=='Men'].reset_index()
medal_bronze_women = medal_bronze[medal_bronze['Gender']=='Women'].reset_index()
top5_athlete_gold_men = medal_gold_men.groupby(['Athlete','Country'])['Medal'].count().nlargest(5).reset_index()
top5_athlete_gold_men['Athlete'] = top5_athlete_gold_men['Athlete'] + '(' + top5_athlete_gold_men['Country'] + ')'
top5_athlete_gold_women = medal_gold_women.groupby(['Athlete','Country'])['Medal'].count().nlargest(5).reset_index()
top5_athlete_gold_women['Athlete'] = top5_athlete_gold_women['Athlete'] + '(' + top5_athlete_gold_women['Country'] + ')'
top5_athlete_silver_men = medal_silver_men.groupby(['Athlete','Country'])['Medal'].count().nlargest(5).reset_index()
top5_athlete_silver_men['Athlete'] = top5_athlete_silver_men['Athlete'] + '(' + top5_athlete_silver_men['Country'] + ')'
top5_athlete_silver_women = medal_silver_women.groupby(['Athlete','Country'])['Medal'].count().nlargest(5).reset_index()
top5_athlete_silver_women['Athlete'] = top5_athlete_silver_women['Athlete'] + '(' + top5_athlete_silver_women['Country'] + ')'
top5_athlete_bronze_men = medal_bronze_men.groupby(['Athlete','Country'])['Medal'].count().nlargest(5).reset_index()
top5_athlete_bronze_men['Athlete'] = top5_athlete_bronze_men['Athlete'] + '(' + top5_athlete_bronze_men['Country'] + ')'
top5_athlete_bronze_women = medal_bronze_women.groupby(['Athlete','Country'])['Medal'].count().nlargest(5).reset_index()
top5_athlete_bronze_women['Athlete'] = top5_athlete_bronze_women['Athlete'] + '(' + top5_athlete_bronze_women['Country'] + ')'
top5_athlete_bronze_women

In [ ]:
fig, ax = plt.subplots()
ax.hlines(top5_athlete_gold_men.Athlete, xmin=0, xmax=top5_athlete_gold_men.Medal)
ax.plot(top5_athlete_gold_men.Medal, top5_athlete_gold_men.Athlete,"o")
ax.set_xlim(0,max(top5_athlete_gold_men.Medal)+2)
plt.title('Top 5 Gold Winners Men',size='20');

In [ ]:
fig, ax = plt.subplots()
ax.hlines(top5_athlete_silver_men.Athlete, xmin=0, xmax=top5_athlete_silver_men.Medal)
ax.plot(top5_athlete_silver_men.Medal, top5_athlete_silver_men.Athlete, "o")
ax.set_xlim(0, max(top5_athlete_silver_men.Medal)+2)
plt.title('Top 5 Silver Winners Men',size='20');

In [ ]:
fig, ax = plt.subplots()
ax.hlines(top5_athlete_bronze_men.Athlete, xmin=0, xmax=top5_athlete_bronze_men.Medal)
ax.plot(top5_athlete_bronze_men.Medal, top5_athlete_bronze_men.Athlete, "o")
ax.set_xlim(0, max(top5_athlete_bronze_men.Medal)+2)
plt.title('Top 5 Bronze Winners Men',size='20');

In [ ]:
fig, ax = plt.subplots()
ax.hlines(top5_athlete_gold_women.Athlete, xmin=0, xmax=top5_athlete_gold_women.Medal)
ax.plot(top5_athlete_gold_women.Medal, top5_athlete_gold_women.Athlete, "o")
ax.set_xlim(0, max(top5_athlete_gold_women.Medal)+2)
plt.title('Top 5 Gold Winners Women',size='20');

In [ ]:
fig, ax = plt.subplots()
ax.hlines(top5_athlete_silver_women.Athlete, xmin=0, xmax=top5_athlete_silver_women.Medal)
ax.plot(top5_athlete_silver_women.Medal, top5_athlete_silver_women.Athlete, "o")
ax.set_xlim(0, max(top5_athlete_silver_women.Medal)+2)
plt.title('Top 5 Silver Winners Women',size='20');

In [ ]:
fig, ax = plt.subplots()
ax.hlines(top5_athlete_bronze_women.Athlete, xmin=0, xmax=top5_athlete_bronze_women.Medal)
ax.plot(top5_athlete_bronze_women.Medal, top5_athlete_bronze_women.Athlete, "o")
ax.set_xlim(0, max(top5_athlete_bronze_women.Medal)+2)
plt.title('Top 5 Bronze Winners Women',size='20');

<a id=6.8></a>
### 6.8 Top 5 Disciplines by Gender

In [ ]:
top5_discipline_gold_men = medal_gold_men.groupby('Discipline')['Medal'].count().nlargest(5).reset_index()
sns.barplot(x='Medal',y='Discipline',data=top5_discipline_gold_men);
plt.title("Top 5 Men Gold Disciplines", size='20');

In [ ]:
top5_discipline_silver_men = medal_silver_men.groupby('Discipline')['Medal'].count().nlargest(5).reset_index()
sns.barplot(x='Medal',y='Discipline',data=top5_discipline_silver_men);
plt.title("Top 5 Men Silver Disciplines", size='20');

In [ ]:
top5_discipline_bronze_men = medal_bronze_men.groupby('Discipline')['Medal'].count().nlargest(5).reset_index()
sns.barplot(x='Medal',y='Discipline',data=top5_discipline_bronze_men);
plt.title("Top 5 Men Bronze Disciplines", size='20');

In [ ]:
top5_discipline_gold_women = medal_gold_women.groupby('Discipline')['Medal'].count().nlargest(5).reset_index()
sns.barplot(x='Medal',y='Discipline',data=top5_discipline_gold_women);
plt.title("Top 5 Women Gold Disciplines", size='20');

In [ ]:
top5_discipline_silver_women = medal_silver_women.groupby('Discipline')['Medal'].count().nlargest(5).reset_index()
sns.barplot(x='Medal',y='Discipline',data=top5_discipline_silver_women);
plt.title("Top 5 Women Silver Disciplines", size='20');

In [ ]:
top5_discipline_bronze_women = medal_bronze_women.groupby('Discipline')['Medal'].count().nlargest(5).reset_index()
sns.barplot(x='Medal',y='Discipline',data=top5_discipline_bronze_women);
plt.title("Top 5 Women Bronze Disciplines", size='20');

<a id=7></a>
## 7. Conclusions

<br><br><br>
- After analyzing the data it is clear that each Medal has almost equal share from the overall medal counts.
<br><br>
- There are only 4 cities __London__, __Los Angeles__, __Paris__& __Athens__ were hosted the olympic ganmes between 1896 - 2012.
<br><br>
- __USA__ holds the 1st place with __4585__ medals and __Netherland__ is at 10th position with __851__ medals respectively.
<br><br>
- For Each Medal __USA__ Holds the 1st  position which is expected and __Soviet Union__ hold the 2nd Position, other postions are occupied by __German__, __Italy__, __Great Britain__ & __France__.
<br><br>
- Female participants were less than Male Participants in Olympics, action needs to be taken to increase the Fenale atheletes in upcoming games.
   - After calculating the counts by each medals we can see Gold is at the 1st position, Bronze at 2nd and Silver is at 3rd place.
   <br><br>
   - Where is for Female Athelets Bronze holds the 1st place, Silver at 2nd and Gold is at 3rd place.
   <br><br>
- __Top Atheletes__:
  - __Gold__: <br>
      __Men__: 4 Athelets were from USA and 1 is from Finland, he is at 3rd Position<br>
      __Women__: Soviet Union is at 1st place, 2nd & 5th Plcae were occupied by US womens, 3rd Position is from Czechoslovakia and 4th Place is with East Germany.<br><br>
  - __Silver__:<br>
      __Men__: Soviet Union Athletes holds fist 4 place and Italy Athlete holds the 5th Position.<br>
      __Women__: Athelets from US, Soviet Union, Germany, Australia & Hungary holds top 5 positions respectively.<br><br>
  - __Bronze__:<br>
      __Men__: Athelets from Russia, Finland, Netherland, Canada & France holds top 5 postions respectively<br>
      __Women__: Athelets from Jamaica & Germany Hold top position with 6 Medals and other postions were occupied by Germany, US & Hungary Athelets.<br><br>
  
- __Top Sport Discipline__:<br>
  Below are the sports which seems to be most common sports to won the medals.
    - Atheletics
    - Swimming
    - Rowing
    - Artistic G
    - Fencing
    - Volleyball
    - Football